
#port = ensure mariadb listen to the default port for incomming connections
#bind = * allow clients from any network connection to access it
#datadir = folder in which mariadb store files
#user = the server runs under the mysql account which should be created while mariadb instal process

[mysqld]
port = 3306
bind_address = 0.0.0.0
datadir=/var/lib/mysql
user=mysql
socket = /run/mysqld/mysqld.sock
